<tr>
    <td style="padding: 30px; text-align: center;">
        <h2 style="margin: 0;">Invitation to Collaborate</h2>
        <p style="margin: 18px 0;"><strong>{{name}}</strong> ({{email}}) has invited you to
            collaborate
            on their {{resourceAlias}} <strong>{{resourceName}}</strong>.</p>
        <a href="{{inviteUrl}}" class="button"
            style="background-color: rgb(24, 24, 27); color: rgb(250, 250, 250); padding: 12px 24px; border-radius: 5px; text-decoration: none; font-weight: bold; display: inline-block; margin: 20px 0;">Accept
            Invitation</a>
    </td>
</tr>
